.user-profile{
    /* color: white;
    background-color: black; */
}
.profile-content-wrapper{
    margin: 0px 100px;
}
.profile-content{
    min-width: 640px;
}
.profile-content .field{
    display: grid;
    grid-template-columns: 200px max-content;
}
.profile-infos{
    width: fit-content;    
    margin: auto;
}

.user-profile-cover,
.user-profile-cover img{
    width: 100%;
}

.user-profile-cover{
    max-height: 315px;
    overflow: hidden;
}

.user-profile-picture-wrapper{
    height: 20px;
}
.user-profile-picture{
    max-height: 200px;
    overflow: hidden;
    border-radius: 200px;
    border: 5px solid white;

    background-color: gold;
    cursor: pointer;

    transform: translate(10px, -100px);
}

.user-profile-picture,
.user-profile-picture-image{
    width: 200px;
    height: 200px;
}
.user-profile-picture{
    background: url("/src/img/user.png") no-repeat gold;
    background-size: contain;
}

.user-profile-picture-edit-btn{
    display: none;
    position: absolute;
    left: 0;
    top: 145px;
    width: 210px;
    text-align: center;
    background: rgb(255, 255, 255, 0.8);
    cursor: pointer;
}
.user-profile-picture-edit-btn img,
.user-profile-cover-edit-btn img{
    width: 50px;
}
.user-profile-cover-edit-btn img{
    background: white;
    border-radius: 10px;
    padding: 3px;
}

.user-profile-cover-edit-btn{
    position: absolute;
    width: fit-content;
    cursor: pointer;
}
.user-profile-cover-edit-btn:hover img{
    background-color: rgba(219, 219, 219, 0.61);
}

.user-profile-picture:hover .user-profile-picture-edit-btn{
    display: unset;
}

.profile-nav{
    /* padding-left: 500px */
    color: white;
    padding-bottom: 10px;
}

.profile-nav ul{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    grid-column-gap: 2px;
    margin: auto;
}

.profile-nav a{
    text-decoration: unset;
    color: white
}

.profile-nav-item{
    width: 150px;
    text-align: center;
}

.profile-nav-item:hover{    
    /* border-bottom: 4px solid white; */
    font-weight: bold;
}

.profile-nav-item[active=true]{
    border-bottom: 4px solid white;
    font-weight: bold;
}

#user-info-dropdown-img{
    width: 22px;
    cursor: pointer;
}

#user-info-dropdown-menu{
    position: fixed;
    right: 0px;
}
