.publication-content-wrapper{
    width: 600px;
    display: grid;
    grid-template-areas: "pub pub""img text";
    grid-template-columns: max-content 1fr;
    grid-row-gap: 5px;

    cursor: pointer;
}
.publication-content-wrapper *{
}

.publication-content{
    width: 600px;
    max-height: 300px;
    overflow: hidden;
    grid-area: pub;
}

.like-btn{
    width: 43px;
    background: unset;
    cursor: pointer;
    border: unset;
}

.like-btn img{
    width: 100%;
}

.publication{
    display: grid;
    grid-template-columns: max-content max-content;
    /* grid-template-columns: 600px max-content; */
    grid-column-gap: 10px;

    /* background: rgb(221,37,232); */
    
}

.publication,
.new-publication{
    padding: 5px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(221,37,232,0.5746673669467788) 2%, rgba(46,0,255,0.46262254901960786) 79%);
    margin-top: 20px;
}

.publication-likes{
    /* width: 40px; */
    display: grid;
    grid-template-columns: auto auto;
    color: red;
    font-size: 11px;
    align-items: center;
    grid-column-gap: 2px;
}
.publication-likes img{
    width: 10px;
    margin-top: 1px;
}

.publication-details-wrapper{
    display: grid;
    /* padding-left: 82px; */

    grid-area: text;
    /* grid-template-columns: 1fr max-content; */
}

.publication-details-name-and-likes,
.publication-details-text-and-liked{
    display: grid;
    grid-template-columns: 1fr max-content max-content;
}

.publication-date{
    font-size: 8px;
    align-self: center;
    margin-right: 7px;
}

.publication-publisher{
    /* display: table; */
    /* position: absolute;*/

    height: 1px;
    width: 82px;
    transform: translate(-37px, -17px);

    grid-area: img;
}
.publication-publisher img{
    --publication-publisher-width : 110px;
    width: var(--publication-publisher-width);
    height: var(--publication-publisher-width);
    border-radius: var(--publication-publisher-width);

    border: 4px solid white;
    /* background-color: white; */
    
    background: gold;

    /* border: 1px solid #c0c0c069; */
}

.publications-wrapper{    
    display: grid;
    grid-row-gap: 13px;
}


.publications-wrapper,
.card-list,
.explore-content{
    width: fit-content;
    margin: auto;
}

#top-5{
    z-index: 1; /* behind floating buttons*/
}

#top-5 .card:nth-child(1){
    transform: translate(200px, 0px);
    z-index: 1;
}

#top-5 .card:nth-child(2){
    transform: translate(100px, 0px);
    /* border: 10px solid yellow !important; */
    z-index: 3;
}

#top-5 .card:nth-child(3){
    /* transform: translate(-100px, 0px); */
    /* border: 10px solid yellow !important; */
    z-index: 5;
}

#top-5 .card:nth-child(4){
    transform: translate(-100px, 0px);
    z-index: 4;
    /* border: 10px solid yellow !important; */
}

#top-5 .card:nth-child(5){
    transform: translate(-200px, 0px);
    z-index: 2;
}

#top-5 .card:hover{
    z-index: 6;
    box-shadow: 0px 0px 8px 6px white;
}

.publication-image{
    width: 100%;
    border-radius: 10px;
}

.publication-publisher-name{
    color: blue;
    font-weight: bold;
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    align-items: center;
}


.publication-text{
    font-size: 13px;
    color: black;
}


.publication-comments-details{
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    grid-column-gap: 5px;
    align-items: end;
}


/* comments */
.comment{
    display: grid;
    grid-template-areas: "img author time""empty comment comment";
    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: 17px auto;
    align-items: center;
}
.comment *{
    align-self: center;
}
.comment-author-name{
    color: blueviolet;
    font-weight: bold;
    font-size: 13px;
}

.comment-publish-time{
    font-size: 12px;
}

.comment-author-image{
    --comment-author-image-width: 45px;
    width: var(--comment-author-image-width);
    height: var(--comment-author-image-width);
    border-radius: var(--comment-author-image-width);
    border: 2px solid white;
    background-color: gold;

    grid-area: img;
    align-self: start;
}
.comment-author-name{
    grid-area: author;
    display: grid;
    grid-auto-flow: column;
    align-self: center;
    grid-auto-columns: max-content;
}
.comment-publish-time{
    grid-area: time;
    font-size: 8px;
}
.comment-text{
    grid-area: comment;

    text-align: justify;
    /* border: 1px solid; */
    font-size: 11px;
    /* color: #0008ff; */
    color: #000000;
    padding: 5px;
    padding-top: unset;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    box-shadow: 1px 3px 4px 0px #767474a1;

    max-height: 100px;
    overflow-y: auto;
}

.comment-text p{
    margin: unset;
}

.comment-beak{
    width: 17px;
    height: 13px;
    /* border: 1px solid; */
    position: absolute;
    transform: rotate(54deg) translate(-3px, 10px);
    /* box-shadow: 1px 3px 4px 0px #767474a1; */
    display: none;
}

.publication-comments-wrapper{
    width: 310px;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    grid-template-rows: 1fr max-content;
}

.publication-content-wrapper,
.publication-comments-wrapper{
    background-color: white;
    border-radius: 10px;
    border: 1px black;
    padding: 10px;
}

.publication-comments{
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    grid-row-gap: 10px;

    max-height: 327px;
    overflow-y: auto;
}


.new-publication{
    width: 600px;
}
.new-publication-content{
    height: 300px;
    background-color: rgb(226, 226, 226);
    background-image: url(../img/new-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    border-radius: 5px;
    overflow: hidden;

    cursor: pointer;
}
.new-publication-content:hover{
    /* opacity: 0.9; */
}
.new-publication-content,
.new-publication-text{
    width: 100%;
}

#new-publication-input-image{
    position: fixed;
    left: -10000px;
}

.new-publication-image{
    width: 100%;
    border-radius: 5px;
}
.new-publication-text-wrapper{
    overflow: hidden;
    margin-top: 5px;
}
.new-publication-text{
    resize: vertical;
    padding: 5px;
    min-height: 100px;
}

.new-publication-btns-wrapper{
    display: grid;
    /* grid-auto-flow: column; */
    /* grid-auto-columns: max-content; */
    align-content: end;
}
.new-publication-btn{
    justify-self: end;
}



.comment-author-badge{
    display: inline;
    width: 25px;
}


.cshare-btn img,
.comment-btn img,
.new-comment-btn img{
    width: 25px;
}

.comment-btn ,
.cshare-btn,
.new-comment-btn{
    cursor: pointer;
}

.share-number,
.comment-number{
    font-size: 11px;
}

.share-btn-wrapper,
.comment-btn-wrapper{
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 0px;
}

.share-btn-wrapper *,
.comment-btn-wrapper *{
    margin: auto;
    text-align: center;
}

.new-comment{
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-column-gap: 5px;
}
.new-comment textarea{
    resize: vertical;
    border: 1px solid silver;
    border-radius: 10px
}
:root{
    --c_violet: #6b2687
}
.subscribe-btn,
.unsubscribe-btn{    
    border: 1px solid var(--c_violet);
    margin-left: 8px;
    cursor: pointer;
    font-size: 10px;
    border-radius: 7px;
    padding: 0px 5px;
}

.subscribe-btn{
/* .unsubscribe-btn:hover{ */
    color: var(--c_violet);
    background-color: white;
}
/* .subscribe-btn:hover, */
.unsubscribe-btn{
    background-color: var(--c_violet);
    color: white;
}