.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/******************************************/
html, body,#root {
  width: 100%;
  height: 100%;
}

body{
  background: url(img/background.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

nav{
  grid-area: nav;
  z-index: 2;
}
.content{
  grid-area: content;
}
.menu{
  grid-area: menu;
  z-index: 1;
}

.menu ul,
.menu li{
  list-style: none;
  padding: unset;
  margin: unset;
  width: fit-content;
}

.footer{
  grid-area: footer;
  align-self: end;
}
.top-nav{
  padding: 10px 0px;
}


button{
  background: none;
  border: unset;
  padding: unset;
}