.field input{
    width: 300px;
    border-radius: 17px;
    border: unset;
    padding: 5px 15px;
    font-size: 20px;
}

.field{
    padding: 5px;
}


.btn{
    border: 1px solid white;
    background: none;
    color: white;
    padding: 10px 38px;
    text-align: center;
    font-size: 20px;
    border-radius: 22px;
}
.btn:hover{
    background: rgba(0, 0, 0, 0.5);
    /* cursor: pointer; */
    /* text-decoration: underline; */
}

.float-btn{
    cursor: pointer;
    background: white;
    border-radius: 43px;
    width: 65px;
    height: 65px;
}
.float-btn img{
    width: 40px;
}
.float-info{
    color: white;
    position: absolute;
    transform: translate(44px, -8px);
    width: 15px;
    background: red;
    border-radius: 7px;
    text-align: center;
}

.login-form-message{
    color: red;
    text-align: center;
}
